@font-face {
  font-family: "iconfont"; /* Project id 2685837 */
  src: url('iconfont.woff2?t=1626702023005') format('woff2'),
       url('iconfont.woff?t=1626702023005') format('woff'),
       url('iconfont.ttf?t=1626702023005') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanzhengma:before {
  content: "\e623";
}

.icon-denglu:before {
  content: "\e60f";
}

.icon-lock:before {
  content: "\e66a";
}
.icon-zan:before {
  content: "\e600";
}

.icon-jubao:before {
  content: "\e648";
}
.icon_reply:before {
  content: "\e609";
}