<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code59.caffemall.dao.StockDao">
    <select id="selectByFoodName" resultType="com.code59.caffemall.bean.Stock">
        select stock_onsell.*,stock_shop.num from stock_onsell,stock_shop
        where stock_onsell.id_food =stock_shop.id_food
        <if test="name!=null">
            and stock_onsell.name=#{name}
        </if>
    </select>
    <select id="selectOnSellByFoodName" resultType="com.code59.caffemall.bean.Stock">
        select stock_onsell.*,stock_shop.num from stock_onsell,stock_shop
        where stock_onsell.id_food =stock_shop.id_food and stock_onsell.sell_out!="u"
        <if test="name!=null">
            and stock_onsell.name=#{name}
        </if>
    </select>
    <select id="selectUnderSellByFoodName" resultType="com.code59.caffemall.bean.Stock">
        select stock_onsell.*,stock_shop.num from stock_onsell,stock_shop
        where stock_onsell.id_food =stock_shop.id_food and stock_onsell.sell_out="u"
        <if test="name!=null">
            and stock_onsell.name=#{name}
        </if>
    </select>
</mapper>